body {
  background: #bada55;
  font-family: Lato;
  font-size: 20px;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 200;
}
.code {
  font-family: 'Operator Mono';
}
.code span {
  font-style: italic;
  color: #aaa;
}
.border {
  border: 1px solid #f00;
}
.main {
  padding: 30px 100px;
}
section {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #000;
}
p {
  font-weight: 200;
}
.controlls {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.example {
  margin: 40px 0 0 0;
}
.box {
  background: #f00;
  margin: 5px;
  width: 100px;
  height: 100px;
}
.the-cascade div.box {
  background: #00f;
}
.the-cascade .box {
  width: 100px;
  height: 100px;
  background: #008000;
}
.display--block .box {
  display: block;
}
.display--inline .box {
  display: inline;
}
.display--inline-block .box {
  display: inline-block;
}
.display--flex {
  display: flex;
}
.free {
  position: relative;
  bottom: 20px;
}
.page-flow .float-left {
  overflow: hidden;
}
.page-flow .float-left .box {
  float: left;
}
.page-flow .position-absolute {
  position: relative;
  overflow: hidden;
}
.page-flow .position-absolute div {
  position: absolute;
}
.page-flow .position-absolute div:nth-child(1) {
  top: 10px;
  left: 0;
}
.page-flow .position-absolute div:nth-child(2) {
  top: 10px;
  left: 50px;
}
.page-flow .position-absolute div:nth-child(3) {
  top: 10;
  left: 100px;
}
.page-flow .display-flex {
  display: flex;
}
