body
  background #bada55
  font-family Lato
  font-size 20px

.code
  font-family 'Operator Mono'

.main
  padding: 30px 100px

section
  padding 20px
  background white
  border-bottom 1px solid black

p
  font-weight 200


.controlls
  margin-bottom 10px
  display flex
  justify-content space-between
  cursor pointer


